@font-face {
    font-family: Cookies;
    src: url(../public/fonts/Cookies.ttf);
}

/* :root {
    --color1: #dfa0eb;
    --color2: #f28be7;
    --color3: #f6a9d3;
    --color4: #f8d8c2;
    --color5: #f8efb7;
    --color6: #ffffff;
    --debugging: red;
} */
:root {
    --color1: #f28be7;
    --color2:#9A93F9;
    --color3: #0095EC;
    --color4: #008FC4;
    --color5: #00818B;
    --color6: #006F50;
    --util1: #ffffff;
    --util2: #000000;
    --debugging: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Cookies;
    color: var(--util1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
    color: var(--util1);
}

/* start of artist */
.artist{
    background-image: linear-gradient(to bottom, #0095ec, #0094e2, #0093d8, #0091ce, #008fc4);
    /* background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    padding: 20vh;
}
.artist header{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--color2);
    text-align: center;
    padding: 2vh;
    letter-spacing: 3;
    margin: 8px auto;
}

.artist header h1{
    font-size: 52px;
}
/* start of description */
.artist .description{
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.artist .description .image{
    background-image: url(../public/images/yui.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    width: 40vw;
}
.artist .description .image, .info{
    height: 50vh;
}

.artist .description .info{
    font-size: 20px;
    margin-bottom: 8vh;
    padding: 4vh;
    background-color: var(--color1);
    width: 80%;
}

.info p{
    letter-spacing: 2;
}

.info a:hover{
    opacity: .7;
}

.info p b{
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
    width: 28%;
    padding-right: 4px;
}

.info p b::after{
    content: ":";
    position: absolute;
    right: 4px;
}

.info table{
    letter-spacing: 1.2;
    border-collapse: collapse;
}

.info th{
    background-color: var(--color2);
}

.info table, th, tr, td{
    border: 2px rgba(154, 147, 249, .6);
    border-style: groove;
}

.info th, td{
    padding: 1vw 4vw;
}
/* end of description */

/* start of sample */
.artist .sample .container{
    padding: 8vh;
    background-color: var(--color1);
    margin: 8px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.artist .sample header{
    background-color: var(--color2);
}

.sample header h2{
    font-size: 48px;
}

.sample .container div{
    background-color: var(--util1);
    text-align: center;
    line-height: 25vh;
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--color2);
    height: 25vh;
    width: 25vh;
}
.sample .container div span{
    font-size: 40px;
    letter-spacing: 2;
    opacity: .5;
}

/* end of sample */

.backbtn{
    padding: 12px 28px;
    letter-spacing: 1.2;
    font-size: 20px;
    background-color: var(--color2);
    width: fit-content;
    border-radius: 8px;
}

.backbtn a:hover{
    opacity: .7;
}
/* end of artist */