/* initiate variable for color */

/* other color palet for references :
https://colorhunt.co/palette/fff9caffdeb4ffb4b4b2a4ff
*/

@font-face {
    font-family: Cookies;
    src: url(./fonts/Cookies.ttf);
}

/* :root {
    --color1: #dfa0eb;
    --color2: #f28be7;
    --color3: #f6a9d3;
    --color4: #f8d8c2;
    --color5: #f8efb7;
    --color6: #ffffff;
    --debugging: red;
} */

:root {
    --color1: #f28be7;
    --color2:#9A93F9;
    --color3: #0095EC;
    --color4: #008FC4;
    --color5: #00818B;
    --color6: #006F50;
    --util1: #ffffff;
    --util2: #000000;
    --debugging: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Cookies;
    color: var(--util1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* start of navigation */
.navigation {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: var(--color1);
    height: 10vh;
    width: 100%;
    padding: 16px;
    position: fixed;
    top: 0;
}

.navigation a {
    color: var(--util1);
    margin-right: 12px;
    text-decoration: none;
    font-size: 32px;
}

/* end of navigation */

/* start of content */

.content {
    height: auto;
    text-align: center;
    background-image: linear-gradient(to right bottom, #f28be7, #e48cec, #d58ef1, #c48ff4, #b391f7, #9f93f7, #8a94f5, #7595f2, #5995e9, #3e94de, #2292d2, #008fc4);
    /* background-color: var(--color1); */
}

/* start of intro */
.content .introduction {
    padding: 20vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.content .introduction header {
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 16px;
    gap: 16px;
}

.content .introduction header img {
    height: inherit;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 1);
}

.content .introduction header h1 {
    height: inherit;
    letter-spacing: 4px;
    line-height: 150px;
    display: inline;
    font-size: 52px;
}

.content .introduction p {
    font-size: 20px;
    letter-spacing: 2px;
}
/* end of intro */

/* start of talents */

.content .talents{
    background-image: linear-gradient(to bottom, #0095ec, #0094e2, #0093d8, #0091ce, #008fc4);
    padding: 30vh;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.content .talents h2{
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 4vh;
}

.content .talents .container{
    display: flex;
    padding: 16px;
    border-radius: 8px;
    /* width: 100%; */
    /* background-color: var(--color4); */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@keyframes fade-in {
    from {opacity: 1;}
    to { opacity: .7; }
}

.talents .container a{
    display: block;
    background-color: var(--util1);
    border-radius: 4px;
    height: auto;
    width: auto;
}

.talents .container a:hover{
    animation: fade-in;
    animation-duration: 1s;
}


.talents .container a img{
    padding-bottom: 8px;
    margin: 10px auto;
    display: block;
    height: 200px;
    width: 200px;
}

/* end of talents */

/* start of about */

.content .about{
    padding: 30vh;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.about .description{
    padding: 20px;
    letter-spacing: 1.5;
    margin-bottom: 8vw;
}

.about .description h3{
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px;
    background-color: var(--color1);
    font-size: 44px;
    margin-bottom: 2vh;
}

.about .description p{
    background-image: linear-gradient(to left top, #0095ec, #0094e2, #0093d8, #0091ce, #008fc4);
    border-left: 1px solid rgba(0, 0, 0, .1);

}


.about p{
    padding: 16px;
    font-family: Verdana, sans-serif;
    font-size: 24px;
    line-height: 2;
    text-align: justify;
}

.about p a{
    color: var(--util1);
    font-weight: 700;
    text-decoration: none;
}

.about p a:hover{
    opacity: .7;
}

.about h4{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    font-size: 40px;
    margin-bottom: 8px;
    padding: 16px;
    background-color: var(--color1);
}

.about .location{
    display: flex;
    flex-direction: column;
}

.about .location .map{
    background-image: linear-gradient(to left top, #0095ec, #0094e2, #0093d8, #0091ce, #008fc4);
    border-left: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: row;
}

.location .map p{
    padding: 20px;
    width: 60%;
}
/* end of about */


/* end of content */

/* start of order */
.order{
    letter-spacing: 2;
    height: auto;
    text-align: center;
    padding: 20vh;
    height: 100vh;
    background-color: var(--color2);
}

.order .form{
    border: 2px solid var(--color2);
    display: table;
    border-collapse: separate;
    border-spacing: 8px;
    text-align: center;
    padding: 16px;
    margin: 16px auto;
    width: 40%;
    background-color: var(--color3);
}

.form .input{
    font-size: 20px;
    display: table-row;
    text-align: start;
}

.form .input label{
    display: table-cell;
    padding: 8px;
}

.form .input input, select{
    display: table-cell;
    padding: 8px;
    width: 100%;
}

.input select{
    text-align: center;
}

.form .button{
    width: 100%;
    text-align: center;
}

.form .button input{
    padding: 8px;
    width: inherit;
}


.order .table{
    text-align: center;
    width: 70%;
    margin: 10px auto;
    border: 1px solid black;
    border-collapse: collapse;
}


.table tr th{
    background-color: var(--color4);
}

.table tr:nth-child(odd){
    background-color: var(--color5);
}

.table tr:nth-child(even){
    background-color: var(--color6);
}

.table tr, th, td{
    padding: 8px;
    border: 1px solid black;
}

.backbtn{
    margin: 10px auto;
    padding: 12px 28px;
    letter-spacing: 1.2;
    font-size: 20px;
    background-color: var(--color3);
    border-radius: 8px;
    width: 40%;
}

.backbtn a{
    color: var(--util1);
    text-decoration: none;
}

.backbtn a:hover{
    opacity: .7;
}

/* end of order */
