/* initiate variable for color */

/* other color palet for references :
https://colorhunt.co/palette/fff9caffdeb4ffb4b4b2a4ff
*/

:root {
    --color1: #dfa0eb;
    --color2: #f28be7;
    --color3: #f6a9d3;
    --color4: #f8d8c2;
    --color5: #f8efb7;
    --color-6: #ffffff;
    --debugging: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* start of navigation */
.navigation {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: var(--color2);
    height: 10vh;
    width: 100%;
    padding: 16px;
    position: fixed;
    top: 0;
}

.navigation a {
    color: var(--color5);
    margin-right: 12px;
    text-decoration: none;
    font-size: 32px;
}

/* end of navigation */

/* start of content */

.content {
    height: auto;
    text-align: center;
    background-color: var(--color3);
}

/* start of intro */
.content .introduction {
    padding: 20vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
}

.content .introduction header {
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 8px;
    gap: 16px;
}

.content .introduction header img {
    height: inherit;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 1);
}

.content .introduction header h1 {
    height: inherit;
    letter-spacing: 4px;
    line-height: 150px;
    display: inline;
    font-size: 52px;
}

.content .introduction p {
    font-size: 20px;
    letter-spacing: 2px;
}

.content .introduction{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
/* end of intro */

/* start of catalog */

.content .catalog{
    padding: 20vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.content .catalog .container{
    display: flex;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    background-color: var(--color4);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.catalog .container div{
    background-color: var(--color-6);
    border-radius: 4px;
    height: auto;
    width: auto;
}

.catalog .container div img{
    padding-bottom: 8px;
    margin: 10px auto;
    display: block;
    height: 190px;
    width: 190px;
}

.catalog .container div table{
    color: black;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-color: antiquewhite;
    border-collapse: collapse;
}

.catalog .container div table tr, td{
    padding: 8px;
}


/* end of catalog */


/* end of content */
