/* initiate variable for color */

/* other color palet for references :
https://colorhunt.co/palette/fff9caffdeb4ffb4b4b2a4ff
*/

@font-face {
    font-family: Cookies;
    src: url(/public/fonts/Cookies.ttf);
}

:root {
    --color1: #dfa0eb;
    --color2: #f28be7;
    --color3: #f6a9d3;
    --color4: #f8d8c2;
    --color5: #f8efb7;
    --color-6: #ffffff;
    --debugging: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Cookies;
    color: var(--color5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* start of navigation */
.navigation {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: var(--color2);
    height: 10vh;
    width: 100%;
    padding: 16px;
    position: fixed;
    top: 0;
}

.navigation a {
    color: var(--color5);
    margin-right: 12px;
    text-decoration: none;
    font-size: 32px;
}

/* end of navigation */

/* start of content */

.content {
    height: auto;
    text-align: center;
    background-color: var(--color3);
}

/* start of intro */
.content .introduction {
    padding: 20vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.content .introduction header {
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 16px;
    gap: 16px;
}

.content .introduction header img {
    height: inherit;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 1);
}

.content .introduction header h1 {
    height: inherit;
    letter-spacing: 4px;
    line-height: 150px;
    display: inline;
    font-size: 52px;
}

.content .introduction p {
    font-size: 20px;
    letter-spacing: 2px;
}
/* end of intro */

/* start of talents */

.content .talents{
    background-color: var(--color1);
    padding: 20vh;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    height: auto;
}

.content .talents h2{
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 4vh;
}

.content .talents .container{
    display: flex;
    padding: 16px;
    border-radius: 8px;
    /* width: 100%; */
    /* background-color: var(--color4); */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.talents .container a{
    display: block;
    background-color: var(--color-6);
    border-radius: 4px;
    height: auto;
    width: auto;
}


.talents .container a img{
    padding-bottom: 8px;
    margin: 10px auto;
    display: block;
    height: 200px;
    width: 200px;
}

/* end of talents */

/* start of about */

.content .about{
    padding: 20vh;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.about .description{
    border: 1px solid var(--debugging);
    margin-bottom: 4vh;
}

.about .description h3{
    font-size: 44px;
    margin-bottom: 2vh;
}

.about .contacts{
    border: 1px solid var(--debugging);
}

.about .contacts h4{
    font-size: 40px;
    margin-bottom: 2vh;
}

/* end of about */


/* end of content */
